{% extends "base.html" %}

{% block title %}
Edit Project - SkillForge
{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-8 project-form-page">

        <div class="card project-form-card">

            <div class="card-body p-4">

                <div class="project-form-header">

                    <h2 class="project-form-title">
                        Edit Project
                    </h2>

                    <p class="project-form-subtitle">
                        Update your project information.
                    </p>

                </div>


                <form method="POST">

                    {% csrf_token %}

                    {{ form.as_p }}


                    <div class="project-form-actions">

                        <button
                            type="submit"
                            class="project-save-btn">

                            <i class="bi bi-check2"></i>

                            Save Changes

                        </button>


                        <a
                            href="{% url 'project_detail' project.id %}"
                            class="project-cancel-btn">

                            Cancel

                        </a>

                    </div>

                </form>

            </div>

        </div>

    </div>
</div>


{% endblock %}